.card {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid gray;
}

:has(> img) {
  max-width: 100px;
}

.boards, .cards, .gifs {
  display: flex;
  flex-wrap: wrap;
}

.btn-group {
  display: flex;
}
